/* Reset*/
* {margin: 0; padding: 0; font-size:100%; font-family: 'Montserrat', sans-serif; font-weight: normal; box-sizing: border-box; border: none; outline: none}
img {max-width: 100%;}
ul {list-style: none;}
a {text-decoration: none;}
h2 {font-size: 1.5em; color: #333;}
p {font-size: 1em; color: #777;}

/* Cabeçalho */
.cabecalho {
    width: 100%; 
    float: left; 
    padding: 50px 8%; 
    background-color: #a553a1;
}

.logo a {
    width: 319px; 
    height: 96px; 
    float: left; 
    background: url(../img/logotipo2.png) no-repeat; 
    font-size: 0;
}

.cabecalho form {
    width: 30%; 
    float: right;
}

.cabecalho input[type="text"] {
    width: 85%;
    float: left;
    padding: 15px 10px;
    border-radius: 5px 0 0 5px
}

.cabecalho button {
    width: 15%;
    float: right;
    padding: 15px 10px;
    background-color: rgb(97, 38, 89);
    color: #fff;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

/* Menu */
.menu {
    width: 100%;
    float: left;
    background-color:  rgb(97, 38, 89);
    padding: 18px 8%;
}

.menu li {
    float: left;
}

.menu li a {
    color: #fff;
    margin-right:  25px;
}

.menu li a:hover {
    color: rgb(153, 94, 138);
}

/* Social */
.social {
    float: right;
}

.social a {
    color: #fff;
    float: left;
    margin-left: 12px;
}

.btn-facebook:hover {
    color: rgb(29, 70, 184);
}

.btn-twitter:hover {
    color: rgb(59, 158, 216);
}

.btn-instagran:hover {
    color: rgb(193, 122, 199);
}

/* Principal */
.principal {
    width: 100%;
    float: left;
    padding: 20px 8%;
}

.produtos {
    width: 70%;
    margin-top: 0%;
    float: left;
}

/* Figuras da esquerda */
.esquerda {
    float: left;
    width: 45%;
    min-width: 300px;
    margin-right: 5%;
    margin-top: 4%;
    cursor: pointer;
}

.esquerda h2 {
    margin-bottom: 15px;
}

.fig-e {
    width: 100%;
    float: left;
    position: relative;
}

.fig-e img {
    float: left;
    border-radius: 5px;
}

.fig-e figcaption {
    opacity: 0;
    width: 100%;
    height: 100%;
    text-align: justify;
    position: absolute;
    color: #fff;
    background-color: rgba(66, 41, 70, 0.61);
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    transition: opacity 1s;
}

.fig-e:hover figcaption {
    opacity: 1;
}

/* Figuras da direita */
.direita {
    float: right;
    width: 45%;
    min-width: 300px;
    margin-right: 5%;
    margin-top: 4%;
    cursor: pointer;
}

.direita h2 {
    margin-bottom: 15px;
}

.fig-d {
    width: 100%;
    float: right;
    position: relative;
}

.fig-d img {
    float: right;
    border-radius: 5px;
}

.fig-d figcaption {
    opacity: 0;
    width: 100%;
    height: 100%;
    text-align: justify;
    position: absolute;
    color: #fff;
    background-color: rgba(66, 41, 70, 0.61);
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    transition: opacity 1s;
}

.fig-d:hover figcaption {
    opacity: 1;
}

/* Barra lateral */
.onde-estamos {
    width: 30%;
    float: right;
    padding: 10px 20px;
    background-color: #dda2d83d;
    border-radius: 5px;
    margin-top: 4%;
}

.onde-estamos h2 {
    margin-bottom: 5px;
}

.onde-estamos iframe {
    width: 100%;
    height: 250px;
    margin: 20px 0;
}

.onde-estamos li {
    color: #777;
    margin-bottom: 10px;
}

.onde-estamos i {
    margin-right: 5px;
}

/* Novidades */
.novidades {
    width: 100%;
    float: left;
    background-color: rgb(97, 38, 89);
    padding: 50px 8%;
}

.novidades h3 {
    font-size: 1.8em;
    color: #fff;
}

.novidades p {
    font-size: 1.2em;
    color: #fff;
}

.novidades form {
    width:  100%;
    float: left;
    margin-top: 10px;
}

.novidades form input {
    width: 40%;
    margin-right: 1%;
    padding: 15px 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    background-color: initial;
    float: left;
}

.novidades button {
    width: 18%;
    background-color: #fff;
    padding: 16px 10px;
    border-radius: 5px;
    float: right;
    cursor: pointer;
}

/* Rodapé */
.rodape {
    width: 100%;
    float: left;
    background-color: #a553a1;
    padding: 20px 8%;
}

.rodape p {
    text-align: center;
    color: #fff;
}
